listen: :${HYSTERIA_PORT}

tls:
  cert: /etc/hysteria/cert.pem
  key: /etc/hysteria/key.pem

auth:
  type: password
  password: ${HYSTERIA_PASSWORD}

obfs:
  type: salamander
  salamander:
    password: ${HYSTERIA_OBFS}

quic:
  initStreamReceiveWindow: 8388608
  maxStreamReceiveWindow: 8388608
  initConnReceiveWindow: 20971520
  maxConnReceiveWindow: 20971520

bandwidth:
  up: 100 mbps
  down: 100 mbps

ignoreClientBandwidth: true

acl:
  inline:
    - direct(all)

masquerade:
  type: proxy
  proxy:
    url: https://www.cloudflare.com/
    rewriteHost: true