global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 10s
  timeout client 1m
  timeout server 1m

frontend fe_tls
  bind :443
  default_backend be_tls

backend be_tls
  server upstream __UPSTREAM_HOST__:__UPSTREAM_PORT__ check
