http:
  middlewares:
    harbor-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "{{ harbor_host }}"

  routers:
    harbor:
      rule: "Host(`{{ harbor_host }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cf
      middlewares:
        - harbor-headers
      service: harbor

  services:
    harbor:
      loadBalancer:
        servers:
          - url: "http://{{ harbor_upstream_host }}:{{ harbor_upstream_port }}"
