[Interface]
Address = {{ node.wg_ip }}/24
PrivateKey = {{ private_key }}
ListenPort = {{ network.listen_port }}
SaveConfig = false
PostUp = wg set %i listen-port {{ network.listen_port }}

{% for peer_name, peer in nodes.items() %}
{% if peer_name != node_name %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.wg_ip }}/32
Endpoint = {{ peer.public_ip }}:{{ network.listen_port }}
PersistentKeepalive = 25
{% endif %}
{% endfor %}